.root {
    -fx-background-image: url("../../images/bg_modeselect.png");
    -fx-background-size: stretch;
}

.godSelect {
    -fx-background-image: url("../../images/Odyssey_UI_Backdrop.png");
    -fx-background-size: stretch;
}

.title {
    -fx-alignment: center;
    -fx-background-image: url("../../images/santorini-logo.png");
    -fx-background-size: 50%;
}

.label {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 25;
}

.titleLabel {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 40;
}